.main-login-page {
  background-color: #161616;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: space-evenly;
}

.sign-up-waves {
  position: absolute;
  bottom: 0;
}
