.main-login-page {
  background-color: #161616;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
}

.sign-up-waves {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 860px) {
  .main-login-page {
    flex-direction: column-reverse;
  }
}
